button {
  border: none;
  border-radius: 100px;
  background-color: #1C1C1C;
  color: #FFF;
  font-size: 2rem;
  padding: 15px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.5;
}

.zero {
  grid-column: 3 / 1;
}

.active {
  background-color: #FFF !important;
  color: #FF9500;
}