html {
  font-family: Arial, Helvetica, sans-serif;;
  background-color: #000;
}

#root {
  margin: 50px auto 0 auto;
  width: fit-content;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(100,100,100,0.50);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(100,100,100,0.50);
  -moz-box-shadow: 0px 0px 5px 0px rgba(100,100,100,0.50);
  border-radius: 5px;
}