.calculator {
  width: 300px;
}

.button-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

button:first-child {
  font-size: 1.6rem;
}

button:nth-child(4n),
button:last-child {
  background-color: #FF9500;
}

button:nth-child(-n+3) {
  background-color: #D4D4D2;
  color: #000;
}